<a href="/"><input class="homeButton" type="submit" value="Homepage"></a>
<a href="/create_tweet_view/"><input class="tweetButton" type="submit" value="Tweet"></a>
<a href="/user_detail_view/{{request.user.id}}/"><input class="profileButton" type="submit" value="My Profile"></a>



<h1>Homepage</h1>
{% if request.user.is_authenticated %}
    <h2>Welcome, {{ request.user.username }}</h2>
    
    <div>
        <h3>What is the latest?</h3>
        {% for tweet in tweets %}
            <ul>
                <li>
                    <a href="/user_detail_view/{{tweet.author.id}}/">@{{tweet.author.username}}</a> - <a href="/tweet_detail_view/{{tweet.id}}/">{{tweet.post_date}}</a>
                    <p>{{tweet.body}}</p>
                </li>
            </ul>
        {% endfor %}
    
    </div>
    
    
{%endif%}

<P>
        <a href="/logout_view/"><button>Logout</button></a>
</P>